<ion-view view-title="About">
<ion-content>
  <div>
    <center>
        <br>
       <img src="img/logo.png" height="300px" width="300px">
    </center>
  </div>
  <center>
  <div padding class="about-info">
    <h4><i class="ion-ios-football"></i> Football Fanatix <i class="ion-ios-football"></i></h4>
    <div>
       <p> <i class="ion-ios-calendar"></i> <span style="font-weight: bold;"> Started:</span> March 30, 2015</p>
    </div>
    <div>
      <span style="color:red;font-size: 14px;">Kitchener, Canada</span>
    </div>
    <p style="color: darkblue;font-size: 16px; font-weight: bold;">F<i class="ion-ios-football-outline"></i><i class="ion-ios-football-outline"></i>TBALL FANATIX is the information app for sports fans.</p><br>
    </center>
    <p style="color:blueviolet;font-size: 15px;padding:0 20px 0 20px">
      By enabling fans from all over the world to capture and share their favourite sports clubs on their mobiles, 
      fanatix is connecting the world’s fans and making it easy for them to key player statistics, 
      silly punditry, unsportsmanlike conduct and all manner of other clips.
    </p>
  </div>
</ion-content>
</ion-view>