<ion-view view-title="Football Countries">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/germany">
        <img ng-src="img/germanyLogo.jpg">
        <h2>Germany</h2>
        <p><span style="font-weight: bold;">coach:</span> Joachim Löw</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/spain">
        <img ng-src="img/spainLogo.png">
        <h2>Spain</h2>
        <p><span style="font-weight: bold;">coach:</span> Vicente del Bosque</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/france">
        <img ng-src="img/franceLogo.jpg">
        <h2>France</h2>
        <p><span style="font-weight: bold;">coach:</span> Didier Deschamps</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/england">
        <img ng-src="img/englandLogo.jpg">
        <h2>England</h2>
        <p><span style="font-weight: bold;">coach:</span> Sam Allardyce</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>