<ion-view view-title="Joe Hart">
  <ion-content style="background-color: lightblue;">
      <center>
          <br>
       <img ng-src="img/hart.jpg" height="200px" width="200px">
        <h2>Joe Hart</h2>
        <p><span style="font-weight: bold;">position:</span> Goal Keeper</p>
        <p style="color: red;font-weight: bold">
        Charles Joseph John "Joe" Hart is an English professional footballer who plays as a goalkeeper for Serie A club Torino, on loan from Premier League club Manchester City, and the England national team. <br><br>
        Born: April 19, 1987 (age 29 years), Shrewsbury, United Kingdom <br>
        Height: 1.96 m <br>
        Weight: 89 kg <br>
        Spouse: Kimberly Crew (m. 2015) <br>
        Salary: 7.02 million GBP (2016) <br>
        Current teams: Torino F.C. (#21 / Goalkeeper), England national football team (Goalkeeper) <br>
        <p>
        </center>
  </ion-content>
</ion-view>
