<ion-view view-title="Home">
<ion-content style="background-color: lightblue;">
  <div>
    <center>
        <br>
       <img src="img/homeLogo.jpg" height="260px" width="400px">
    </center>
  </div>
  <center>
  <div padding class="about-info">
    <h4><i class="ion-ios-football"></i> Football Fanatix <i class="ion-ios-football"></i></h4>
    <p style="color: darkblue;font-size: 16px; font-weight: bold;"> WELCOME TO F<i class="ion-ios-football-outline"></i><i class="ion-ios-football-outline"></i>TBALL FANATIX !!!</p><br>
    </center>
  </div>
</ion-content>
</ion-view>