<ion-view view-title="Manuel Peter Neuer">
  <ion-content style="background-color: lightblue;">
      <center>
          <br>
       <img ng-src="img/neuer.jpg" height="200px" width="200px">
        <h2>Manuel Neuer</h2>
        <p><span style="font-weight: bold;">position:</span> Goal Keeper</p>
        <p style="color: red;font-weight: bold">
        Manuel Peter Neuer is a German professional footballer who plays for Bundesliga club Bayern Munich and the Germany national team. He is a goalkeeper and serves as vice-captain for Bayern Munich and captain of Germany.<br><br>
        Born: March 27, 1986 (age 30 years), Gelsenkirchen, Germany<br>
        Height: 1.93 m<br>
        Weight: 92 kg<br>
        Salary: 7.627 million USD (2015)<br>
        Current teams: FC Bayern Munich (#1 / Goalkeeper), Germany national football team (#1 / Goalkeeper)<br>
        Awards: FIFA FIFPro World XI, Footballer of the Year in Germany, Fritz Walter Medal, Silbernes Lorbeerblatt <br>
        <p>
        </center>
  </ion-content>
</ion-view>
