<ion-view view-title="Sergio Ramos García">
  <ion-content style="background-color: lightblue;">
      <center>
          <br>
       <img ng-src="img/ramos.jpg" height="200px" width="200px">
        <h2>Sergio Ramos</h2>
        <p><span style="font-weight: bold;">position:</span> Defender</p>
        <p style="color: red;font-weight: bold">
        Sergio Ramos García is a Spanish professional footballer who plays for and captains both, Real Madrid and the Spain national football team. A central defender, he can also play as a right back. <br><br>
        Born: March 30, 1986 (age 30 years), Camas, Seville, Spain<br>
        Height: 1.83 m<br>
        Weight: 75 kg<br>
        Partner: Pilar Rubio (2012–)<br>
        Salary: 10 million EUR (2016)<br>
        Current teams: Real Madrid C.F. (#4 / Defender), Spain national football team (#15 / Defender) <br>
        <p>
        </center>
  </ion-content>
</ion-view>
